<%- include("partials/header") %>

    <h1>Sign Up YelpCamp!</h1>

    <form action="/register" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <button>Sign Up</button>
    </form>

<%- include("partials/footer") %>