<%- include("../partials/header") %>

	<div class="container">
		<h1 style="text-align: center;">Create New Campground</h1>
		
		<form class="edit-new-form" action="/campgrounds" method="POST">
			<div class="input-group mb-3">
				<input class="form-control" type="text" placeholder="Name" name="name" required>
			</div>
			<div class="input-group mb-3">
				<input class="form-control" type="text" placeholder="Image url" name="image" required>
			</div>
			<div class="input-group mb-3">
				<input class="form-control" type="text" placeholder="Description" name="description" required>
			</div>
			<div class="input-group mb-3">
				<input class="form-control mr-2" type="number" min=0 max=1000 placeholder="Price per Night" name="price"><span id="per-night">$ /Night</span>
			</div>
			<div class="input-group mb-3">
				<button class="btn btn-lg btn-info btn-block">Submit</button>
			</div>
			<a href="/campgrounds" style="margin-inline: auto;">Go Back</a>
		</form>
	</div>

<%- include("../partials/footer") %>